@use '../base/mixins' as m;
@use '../base/variables' as v;

.no-proyectos {

    a {
        color: v.$indigo;
    }
}

.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-trim: 3rem;
    @include m.grid(1, 2rem);
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    @include m.desktop {
        @include m.grid(3, 2rem);
    }

    .proyecto {
        background-color: lighten(v.$indigo, 5%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        line-height: 2;
        transition: background-color .3s ease;
        border-radius: 1.5rem;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bold;
        overflow: hidden;
        color: v.$blanco;

        &:hover {
            background-color: darken(v.$indigo, 5%);
            cursor: pointer;
        }
    }
}