@use '../base/mixins' as m;
@use '../base/variables' as v;

.app .paginacion {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    @include m.desktop {
        width: 100%;
    }
}