@use '../base/variables' as v;
@use '../base/mixins' as m;

.tabs {
    @include m.grid(3, 1rem);
    margin-bottom: 1rem;
    button {
        text-align: center;
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: .5rem;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: .7rem;
        transition: background-color .3s;
        &:hover {
            background-color: darken(v.$azul, 20);
        }
        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}