@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
}
.box {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.box-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
