@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$font-principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #E08709;;
$green: #71B100;
$white: #FFFFFF;
$grey: #e1e1e1;
$greyBlack: #333333;

$gap: 5rem;

// Fuentes
$tiny: 300;
$normal : 400;
$bold: 700;
$bolder: 900