@use './variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    font-family: v.$font-primary;
    font-size: 1.6rem;

    &.fixed {
        overflow: hidden;
    }
    
}
.body-isHeaderFixed {
    padding-top: 13rem;
}
p {
    font-size: 2rem;
    color: v.$black;
    line-height: 1.5;
}
.box {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
img {
    width: 100%;
    height: auto;
    border-radius: v.$border;
}