// FONT
$font-primary: 'Montserrat', sans-serif;
// COLORES
$green: #19c9c0;
$pink: #f53756;
$yellow: #fef46d;
$purple: #752f97;
$black: #000;
$white: #fff;
// Tamaños de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
// TRANSITION
$transition: background-color 0.3s, color 0.3s;
// BORDER
$border: 1rem;