@use '../base/variables' as v;


//  MEDIA QUERIES   
@mixin phone {
    @media (min-width:v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width:v.$desktopXL) {
        @content;
    }
}

// GRID
@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

// 
@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}

