@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-app {
    width: 100%;
    height: 100vh;
    align-items: center;
    box-sizing: content-box; 
    .imagen {
        height: 15rem;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin: none;
        } 
    }
    .appContainer {   
        position: relative;  
        height: 90%;
        overflow-y: auto;
        .seccion_titulo {
            margin: .5rem 0;
        }
        .seccion_descripcion {
            margin: .5rem 0;
        }
        .form {
            width: 80%;
            margin: 0 auto;
        }
    }
    // Queries
    @include m.tablet {
        // overflow: hidden;
        @include m.grid(1, 0rem);
        .imagen {
            position: absolute;
            z-index: -1;
            top: 0;
            width: 100%;
            height: 100vh;
            opacity: .5;
        }
        .appContainer {
            width: 80%;
            margin: 0 auto;
        }
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .imagen {
            position: inherit;
            height: 100%;
            opacity: 1;
        }
        .appContainer {
            width: 90%;
        }
    }

}

.barra {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    margin: 1rem;
    .saludo {
        font-weight: bold;
    }
    .cerrarSesion {
        color: v.$blanco;
        font-size: 2rem;
    }
}