@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.section__anuncios {
    &--title {
        margin-bottom: 3rem;
    }

    &--content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
}

.anuncio {
    display: flex;
    flex-direction: column;
    background-color: v.$grey;
    border: 1px solid v.$grey;
    border-radius: 1rem;
    overflow: hidden;

    &__img {
        box-sizing: border-box;
        overflow: hidden;
        
        &:hover img {
            transition: transform 0.3s ease;
            transform: scale(1.15);
        }
    }
    &__content {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
}

.anuncio__content {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    &--precio {
        color: v.$green;
        font-weight: v.$bold;
        font-size: 3rem;
    }

    &--icons {
        display: flex;
        padding: 0;
        margin-bottom: 3rem;

        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
            img {
                flex-basis: 3rem;
            }

            p {
                font-weight: v.$bold;
            }
        }
    }

    .button {
        @include m.button(v.$yellow, v.$green) {
            display: block;
            text-align: center;
        }
    }

}

.view-all {
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-end;

    .button {
        @include m.button(v.$green, v.$yellow);
    }
}
