@use '../../base/mixins' as m;
@use '../../base/variables' as v;
.admin {
    .button {
        @include m.button(v.$green, v.$yellow);
    }
    .propiedades {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
    }
}