@use '../base/variables' as v;
@use '../base/mixins' as m;

// HEADER HOME
.no-webp .home {
    background-image: url('../img/header.jpg');
}

.webp .home {
    background-image: url('../img/header.webp');
}

// HEADER PRINCIPAL
.header {
    background-color: v.$greyBlack;
    padding: 1rem 0 3rem 0;

    .header__box {
        
    }

    &.home {
         background-position: center;
         background-size: cover;

        @include m.tablet {
            min-height: 70rem;
        }

        .header__box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include m.tablet {
                min-height: 70rem;
            }

            h1 {
                color: v.$white;
                text-align: left;
                font-weight: v.$tiny;
                font-size: 2rem;
                max-width: 30rem;
                margin-top: 4rem;
                @include m.tablet {
                    margin-top: 0;
                    font-size: 4rem;
                    max-width: 60rem;
                }
            }
        }
    }
    
}

// HEADER BOX
.header__box {
    &--bar {
        display: flex;
        padding-top: 3rem;
        justify-content: space-between;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// HEADER BOX BAR
.header__box--bar {
    .bar__logo {
        min-width: 25rem;
        width: 40%;
        color: v.$white;
        text-transform: uppercase;
        @include m.tablet {
            width: auto;
        }
    }
    .bar__nav {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .logout {
        .button {
            background: none;
            border: none;
            color: v.$white;
            font-size: 2.2rem;
            transition: color .3s;
            font-weight: normal;
            cursor: pointer;
        }
    }
}

// LOGO
.bar__logo {
    h1 {
        font-weight: v.$tiny;     
        span {
            font-weight: v.$bold;
        }
    }
}

// NAVEGACION
.bar__nav {
    a {
        
        display: none;
        @include m.tablet {
            display: block;
        }
        color: v.$white;
        font-size: 2.2rem;
        transition: color .3s;

        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:hover {
            color: v.$green;
        }
    }
    &--responsive {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: v.$gap * 2;
        transition: background-color 0.3s ease;
        background-color: v.$greyBlack;

        a {
            transition: color 0.3s ease;
            color: transparent;
            color: v.$white;
            font-size: 4rem;
            margin: 0;
        }
        .theme__button {
            display: none;
        }
    }
    .theme__button,
    .responsive__button,
    &--responsive .responsive__button {
        cursor: pointer;
        line-height: 0;
        .checkbox {
            display: none;
        }
    }
    .theme__button {
        color: v.$white;
        font-size: 3.5rem;
        @include m.tablet {
            padding: 0 2rem;
        }
    }
    .responsive__button,
    &--responsive .responsive__button {
        @include m.tablet {
            display: none;
        }
        font-size: 3.5rem;
        color: v.$white;
        padding-right: 1rem;
        margin: 0;
    }
    &--responsive .responsive__button {
        position: absolute;
        top: 4.3rem;
        right: 1.4rem;
    }
}