@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    background-color: v.$negro;
    color: v.$blanco;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: v.$azul v.$negro;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .7rem;
}

*::-webkit-scrollbar-track {
    background: v.$negro;
}

*::-webkit-scrollbar-thumb {
    background-color: v.$azul;
    border-radius: 10px;
    border: 1px solid v.$azul;
}
input[type="number"] {
    appearance: none;
}