:root {
    --white: #fff;
    --black: #212121;
    --yellow: #FFC107;
    --blue: #0097A7;
    --grey: #757575;
}
/* ==== Generals ==== */
*, *::before, *::after {
    box-sizing: inherit;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--blue) var(--white);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--blue);
  }
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}
body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to bottom, var(--white) 0%, var(--blue) 100%);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
    font-weight: normal;
}
h1, h2, h3, p {
    text-align: center;
}
p {
    line-height: 2;
}
a {
    text-decoration: none;
    color: var(--white);
}
svg {
    width: 100%;
    height: 100%;
}
input, textarea {
    border: none;
    outline: none;
}
header {
    display: flex;
    justify-content: center;
}
.titulo span {
    font-size: 2rem;
}
.button {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: .5rem;
    transition: 0.3s background-color, 0.3s color;
}
.button:hover {
    background-color: var(--yellow);
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icon {
    width: 50px;
    color: white;
}
.scroll-snap {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
/* ==== Navigation ==== */
.nav-principal{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}
.nav-principal a {
    font-weight: normal;
    padding: 1.3rem;
    transition: 0.3s background-color, 0.3s color;
    width: 100%;
    text-align: center;
}
.nav-principal a:hover {
    color: black;
    background-color: var(--yellow);
}
/* ==== Presentation ==== */
.hero {
    background-image: url('../img//hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.hero__content {
    height: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 2rem;   
    transition: 0.3s background-color;
}
.hero__content:hover {
    background-color: rgba(0,0,0,.5);    
}
.hero__content h2,
.hero__content p {
    color: var(--white);
}
.hero__content .ubication{
    width: 40px;
}
/* ===== Main content ==== */
.main__content {
    width: min(90rem, 90%);
    background-color: white;
    box-shadow: -1px 12px 10px -3px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 12px 10px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 12px 10px -3px rgba(0,0,0,0.42);
    padding: 2rem 3rem 5rem;
    
    border-radius: 1rem;
}

.main__content .services {
    display: flex;
    flex-direction: column;
}
.main__content .services .service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service h3 {
    color: var(--blue);
}
.main__content .icon-container {
    background-color: var(--yellow);
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s background-color;
}
.main__content .icon-container:hover {
    background-color: var(--blue)
}

/* ==== Contact ===== */
.form {
    background-color: var(--grey);
    width: min(80rem, 100%); /*Toma el valor más pequeño*/
    margin: 0 auto; /*usarlo para centrar cuando el padre no es un display:flex*/
    padding: 2rem;
    border-radius: 1rem;
}
.form fieldset{
    border: none;
}
.form legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--yellow);
}
.input {
    margin-bottom: 1rem;
    width: 100%;
}
.input label {
    color: var(--white);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input input,
.input textarea {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
}
.input textarea {
    height: 17rem;
}
.submit {
    margin-top: 1.5rem;
    display: flex;
    justify-content: right;
}








/* ==== Media Querys ==== */
@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav-principal a {
        width: auto;
    }
    .main__content .services {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        /* grid-template-rows: 1fr; */
        grid-template: 1fr / repeat(3, 1fr); /* shorthand property -> rows / columns */
        gap: 1rem;
    }
    .inputs-area {
        display: grid;
        grid-template: repeat(2, auto) 20rem / repeat(2, 1fr) ;
        column-gap: 2rem;
    }
    .input:nth-child(3) {
        grid-column: 1 /3;
    }
    .input:nth-child(4) {
        grid-column: 1 / 3;
    }
}

