*, *:before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: white;
}
.contenido {

    width: 100%;
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
    font-size: 4rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 2.2rem;
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}

/* Práctica con FETCH API */
:root {
    --black: #151515;
    --white: #fff;
    --green: #4DE19F;
    --grey: #c7c7c7;
    --greyBlack: #242424;
    --transition: .4s background-color, 0.3s color;
}
.buscador {
    background-color: var(--black);
    width: 100%;
    display: grid;
    grid-template-rows: 2rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    row-gap: 1rem;
}
.buscador__input {
    background-color: inherit;
}
.buscador__input input,
.buscador__input button {
    padding: .5rem;
}
.buscador__input input {
    outline: none;
    background-color: var(--greyBlack);
    border: none;
    font-weight: bold;
    color: var(--green);
}
.buscador__input button {
    border: none;
    border-radius: .4rem;
    background-color: var(--green);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
}
.buscador__content {
    color: var(--green);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.buscador__content h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}
.buscador__content .resultado {
    height: 5rem;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    color: var(--green);
    background-color: var(--greyBlack);
    box-sizing: content-box;
}
.buscador__content .resultado p {
    font-size: 1rem;
    color: var(--green);
}